<%= render 'pages/home' unless user_signed_in? %>

<div id ="movies" class="transition-enabled">
<% @movies.each do |movie| %>
        <div class="box panel panel-default">
            <%= image_tag movie.image.url(:medium)%>
             <div class="panel-body">
                <%= movie.title %>
                <%= movie.year %>
                <%= movie.rating %>
                <%= movie.description %>
                <%= movie.user.try(:email)%>
                <%= link_to 'Show', movie %>
                <% if movie.user == current_user %>
                    <%= link_to 'Edit', edit_movie_path(movie) %>
                    <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            </div>
      </div>
<% end %>
</div>




